# Node / Vite / Ionic
node_modules/
dist/
.vite/
*.local
*.log
.DS_Store

# Editor / IDE
.vscode/
.idea/

# iOS (Capacitor / Xcode)
ios/DerivedData/
ios/build/
ios/App/build/
ios/App/Pods/
ios/App/Podfile.lock

# Android 
android/.gradle/
android/build/
android/app/build/
